<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="10">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="/static/css/spin.css"> -->
  <style>
    .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  body { margin-top: 100px; text-align:center; }

    h1 {
      font: 2em 'Roboto', sans-serif;
      margin-bottom: 40px;
    }
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  </style>
</head>
<body>
  <h1>Here is You Video</h1>
  <a href="{{link}}"><button class="btn"><i class="fa fa-download"></i> Download</button></a>
</body>